<br/>
<br/>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h4>
                        Welcome to the homepage
                    <!--  of the game / website of Gilles Willemot. -->
                </h4>
                <p>
                    Please enjoy the game and have fun!
                </p>
            </div>
            <br>
            <br>
            <p>Hello<span *ngIf="username">, <b>{{username}}</b></span>! Are you ready for a <a routerLink="/game">game</a>?</p>
            <p>You'd better check out the  <a routerLink="/hiscores">highscores</a> to look if you're still a top tier player...</p>
            <!-- <div class="row offset-2">
                <div class="col-4">
                    Go to game: &nbsp;
                    <button class="btn btn-primary" [routerLink]="['/game']">game</button>
                </div>
                <div class="col-4">
                    Go to hiscores: &nbsp;
                    <button class="btn btn-primary" [routerLink]="['/hiscores']">hiscores</button>
                </div>
            </div> -->
        </div>
    </div>
</div>