<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Information</h3>
        </div>
        <div class="card-body">
            <p>
                This is a game I made using the
                <a href="https://p5js.org/" target="_blank"> p5 framework. </a>
            </p>
            <p>
                I used Boostrap 4 for the layout without their Javascript. For the layout/design Javascript, I used ng-bootstrap, which you
                can find
                <a href="https://ng-bootstrap.github.io/#/home" target="_blank"> here</a>.

            </p>
            <hr>
            <p>
                <b>Game instructions</b>
                <br> Use your arrows to move up, down, left, right
                <br> For Azerty keyboard use:

            </p>
            <ul>
                <li>'a' to shoot upwards</li>
                <li>'q' to shoot to the lest</li>
                <li>'d' to shoot to the right</li>
                <li>'s' to shoot downwards</li>
            </ul>
            <p>Enter button is start, pause, unpause or restart.</p>
            <p>If you like the game and you want to give your support, you could make a
                <a href="https://www.paypal.me/Willemot" target="_blank">donation</a>.
            </p>
        </div>
    </div>
</div>