<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-11">
          <h3>Profile</h3>
        </div>
        <div class="col-1">
          <a class="float-right" routerLink="/edit-profile">
            <span class="fa fa-edit" style="font-size: 2em"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body" *ngIf="currentUser"><!--met een userobject eventueel een for loop voor elk attribuut, hergebruik van html-->
      <div class="row">
        <div class="ml-5">
          <b>Username:</b>&nbsp;&nbsp;{{username}}</div>
      </div>
      <hr>
      <div class="row" *ngIf="fullname">
          <div class="ml-5">
            <b>Full name:</b>&nbsp;&nbsp;{{fullname}}</div>
        </div>
        <hr *ngIf="fullname">
      <div class="row">
        <div class="ml-5">
          <b>Creation date:</b>&nbsp;&nbsp;{{creationDate}}</div>
      </div>
      <hr>
      <div class="row" *ngIf="email">
        <div class="ml-5">
          <b>Email:</b>&nbsp;&nbsp;{{email}}</div>
      </div>
      <hr *ngIf="email">
      <div class="row" *ngIf="birthday">
          <div class="ml-5">
            <b>Birthday:</b>&nbsp;&nbsp;{{birthday}}</div>
        </div>
    </div>
  </div>
</div>
<!-- <div class="card-footer"></div>     -->