<!-- <app-game-overlay (_restart)="restart()"
[gameOverlay]="gameOverlay"
></app-game-overlay> -->
<!-- <div class="row offset-2">
  <mat-menu #rootMenu="matMenu" md-position-mode="target-right bottom">
    <button mat-menu-item (click)="increaseSpeed()">
      Increase movement speed
    </button>
    <button mat-menu-item (click)="increaseDirectionChange()">
      <i class="fa fa-check"></i> Increase direction change
    </button>
    <button *ngIf="round > 1" mat-menu-item [matMenuTriggerFor]="subMenu">Other weapon</button>

  </mat-menu>
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item (click)="changeWeapon('shotgun')">Shotgun</button>
    <button mat-menu-item>Uzi</button>
    <button mat-menu-item>Knife</button>
  </mat-menu>
</div> -->
<br/>
<div class="container" style="margin-top:5%">
  <div class="row">
    <!-- <div *ngIf='errorMsg' class="">{{errorMsg}}</div> -->
    <div class="col-6" *ngIf="bestHiscore; else noHiscoreYet">
      <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
        Your personal record highscore: <b>{{bestHiscore.calcScore()}}</b>, on {{bestHiscore.getFormattedDate()}}.
      </ngb-alert>

    </div>
    <ng-template #noHiscoreYet>
      <div class="col-6">
        <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
          {{errorMsg}}
        </ngb-alert>
      </div>
    </ng-template>
  </div>
  <h2 class="mb-3" *ngIf="_gameOver">Game over and out! Your score is: {{hiscore.calcScore()}}</h2>
  <!--Eventueel Modal van ngbootstrap gebruiken of
    sketch-holder (aka canvas) hiden bij gameOver-->

  <div class="row" > <!--*ngIf="(currentUser | async)"-->
    <div id="game-overlay" class="col-md-3 row" style="margin-bottom: 4%">
      <div class="col-sm-2 col-md-12">
        <b id="testNumberOfKills">Total number of kills: {{numberOfKills}}</b>
      </div>
      <div *ngIf="gameStarted" class="col-sm-5 col-md-12">
        <img *ngFor="let bot of bots" src="assets/bot.png" style="height: 67%; width: 20%" alt="weapon-icon" />
        <img *ngFor="let kill of kills" src="assets/skull.png" style="height: 35%; width: 15%; margin-top: -0.5em" alt="skull-icon"
        />
      </div>

      <!-- <p *ngIf="gameOver">New round, let's make it harder!</p> -->
      <div class="col-sm-2 col-md-12">
        <b id="botMovementSpeed">Bot moving speed: {{mInterval}} ms</b>
      </div>
      <div class="col-sm-2 col-md-12">
        <b>Bot direction change: {{dInterval}} ms</b>
      </div>
      <!-- <p>Bot direction change: {{directionIntervalTime}} ms</p> -->

      <div *ngIf="weapon && gameStarted" class="col-sm-5 col-md-12" [ngClass]="{'bulletHeight':  weapon.getNumberOfBulletsLeft() < 7 &&  weapon.getNumberOfBulletsLeft() > 0}">
        <!--[ngClass]="weapon.numberOfBulletsLeft() > 0 -->
        <img *ngFor="let bullet of numberOfBulletsLeft()" src="assets/bullet.png" style="height: 45%; width: 15%" alt="bullet-icon"
        />
      </div>

      <div id="roundNumber" class="col-sm-2 col-md-12">
        <b>Round number: {{hiscore.numberOfRounds}}</b>
      </div>
      <div class="col-sm-2 col-md-12">
        <b>Timer in seconds: {{timer}}</b>
      </div>
      <button class="col-sm-2 col-md-12 btn btn-primary" (click)="onGameButtonClick()" (keydown.space)="$event.preventDefault();">
        {{gameButtonText()}}</button>

    </div>

    <div id="sketch-holder" class="col-md-9">
      <!-- Our sketch will go here!, this contains the game canvas! -->
    </div>
  </div>
  <!-- <p>{{currentUser|async}}</p> -->
</div>