<br/>
<div class="container">
  <div *ngIf="!staticAlertClosed">
    <ngb-alert (close)="staticAlertClosed = true" [dismissible]="false" [type]="'danger'">
      <strong>Warning!</strong> {{errorMsg}}
    </ngb-alert>
  </div>
  <div class="card">
    <div class="card-header">
      <h3>Hiscore Rankings</h3>
    </div>
    <div class="card-body">
      <div *ngIf="!hiscores || hiscores.length == 0">No hiscores yet!</div>
      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" (panelChange)="beforeChange($event)">
        <ngb-panel id="hiscore" id="{{i}}" *ngFor="let hiscore of hiscores; let i = index">
          <ng-template ngbPanelTitle>
            <div id="hiscore" class="row">
              <div class="col-md-1 col-sm-2">
                <p>
                  <b>{{i+1}}.</b>
                </p>
              </div>
              <div class="col-md-7 col-sm-5">
                <span>
                  <b>{{hiscore.calcScore()}}</b>
                </span>
                &nbsp; &nbsp; &nbsp;
                <span>
                  <i>{{scoreText(hiscore.calcScore())}}</i>
                </span>
              </div>
              <div class="col-md-3 col-sm-4">
                <b>{{hiscore.username}}</b>
              </div>
              <div *ngIf="hiscore.username == username" class="col-1">
                <a style="font-size:1.7em; color:red" class="float-right" (click)="onRemoveButtonClick(hiscore.id)">
                  <span class="fa fa-trash"></span>
                </a>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="card-block row">

              <!-- <div *ngFor="let bullet of gameOverlay.bullets"> -->
              <!-- <div class="col-3">
                <p>
                  <b>Used weapon: </b>
                  <img src="assets/kitchen-knife.png" alt="weapon-icon" />
                </p>
              </div> -->
              <div class="col-3">
                <p>
                  <b>Username:</b>&nbsp;
                  <span style="color: red">{{hiscore.username}}
                  </span>
                </p>
              </div>
              <div class="col-3">
                <p>
                  <b>Date:</b>
                  {{hiscore.getFormattedDate()}}

                </p>
              </div>
              <div class="col-3">
                <p>
                  <b>Number of rounds: </b>{{hiscore.numberOfRounds}}</p>
              </div>
              <div class="col-3">
                <p>
                  <b>Number of kills: </b>{{hiscore.kills}}</p>
                <img src="assets/skull.png" alt="weapon-icon" />

              </div>
              <!-- </div> -->

            </div>

          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="card-footer"></div>
  </div>

  <div *ngIf="removeButtonClicked">
    <app-alert [titel]="'Hiscore verwijderen'" [alertBoodschap]="'Bent u zeker dat u deze hiscore wenst te verwijderen?'" [welBoodschap]="'Verwijderen'"
      [nietBoodschap]="'Annuleer'" [isOpen]="openAlert" (actie)="removeHiscore($event)">

    </app-alert>
  </div>
</div>