.card-header, .card-footer{
    background-color: #292b2c !important;
    color: white;
} 

.card-body{
    background-color:  #afb4b6;
    }

#hiscore {
color: black
}

#hiscore :hover {
opacity: 0.5;
text-decoration: none!important;
}